.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 180px;
    margin-left: -5px;
    margin-bottom: 30px;
  }
  .login-form {
    position: relative;
    z-index: 1;
    min-width: 250px;
    text-align: center;
    input{
      height: 40px;
      font-size: 15px;
    }
    .login-form-button{
      width: 100%;
      font-size: 15px;
      height: 41px;
    }
  }
}
