.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .login-form {
    position: relative;
    z-index: 1;
    min-width: 250px;
    .login-form-button{
      float: right;
    }
  }
}
